
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<h1>Greet me</h1>

<form action="/hello" method="post" >
    <input type="text" name="username" required>
    <input type="radio"  name="lang" value="zulu" required>
    <label for="zulu">Zulu</label><br>
    <input type="radio"  name="lang" value="english">
    <label for="english">English</label><br>
    <input type="radio"  name="lang" value="xhosa">
    <label for="xhosa">Xhosa</label><br>
    <input type="submit" >
</form>



<div>
    {{greeting}}
</div>

<div>
    <ul>
        {{#each greetedNames }}
        <!-- remove the comments below... -->
     <li> {{this}}</li>
        {{/each}}
    </ul>

</div>

<!-- remove this comment in your template, but otherwise the greeting tag is not displayed -->
<!--  -->

</body>
</html>